.container{
    display: flex;
    flex-wrap: nowrap;
    background-color: #444444;
    flex-direction: column;
}

.container div{
    color: white;
    height: 100px;
    width: 100px;
    background-color: #999999;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    margin: 5px;
}
